.solidblockmenu{
margin: 2px;
float: left;
font: bold 10px Arial;
width: 1000px;
overflow: hidden;
}

.solidblockmenu li{
display: inline;
}


.solidblockmenu li a{
float: left;
color: white;
font-size:11px;
padding: 9px 11px;
text-decoration: none;
border-right: 1px solid white;
width:83px;
text-align:center;
}

.solidblockmenu li a:visited{
color: white;
}

.solidblockmenu li a:hover, .solidblockmenu li a.selected{ 
color: white;
background: transparent url(blockactive.gif) center center repeat-x;
}



.megamenu{
position: absolute;
display: none;
left: 0;
top: 0;
background-color:#eff2fe;
border: 1px solid #CCC;
font: normal 12px Verdana;
z-index: 100;
width:480px;
overflow:hidden;

}


.ddown01{
	width:510px; height:100px; border-bottom:1px dotted #000; display:inline-block;
}

.ddown02{
	width:510px; height:56px; border-bottom:1px dotted #000;
}
.ddown03{
	width:510px; height:36px;
}

.row01{
	margin-left:15px; margin-top:15px; float:left;  color:#3172b4;
}
.row02{
	margin-left:11px; margin-top:7px; float:left;  color:#3172b4; font-size:11px; width:90px; text-align:center
}

.row03{
	margin-left:11px; margin-top:7px; float:left;  color:#3172b4; font-size:11px;
}

.row02 a{
	text-decoration:none; color:#3172b4;
}

.row02 a:hover{
	text-decoration:none; color:#900;
}

.row03 a{
	text-decoration:none; color:#3172b4;
}

.row03 a:hover{
	text-decoration:none; color:#900;
}

.ddCaption{
	margin-left:-3px; font-size:11px; text-align:center; 
}

.linkBold{
	color:#F30; font-weight:bold;
}

.megamenu .column{
float: left;
width: 100px; /*width of each menu column*/
margin-right: 5px;
}

.megamenu .column ul{
margin: 0;
padding: 0;
list-style-type: none;
}

.megamenu .column ul li{
padding-bottom: 5px;
}

.megamenu .column h3{
background: #e0e0e0;
font: bold 13px Arial;
margin: 0 0 5px 0;
}

.megamenu .column ul li a{
text-decoration: none;
}

.megamenu .column ul li a:hover{
color: red;
}

.more{
	 padding-left:315px; margin-top:-13px;
}

.more a{
	text-decoration:none; color:#3172b4;
}

.more a:hover{
	text-decoration:none; color:#900;
}

.servicemegamenu{
position: absolute;
display: none;
left: 0;
top: 0;
font: normal 12px Verdana;
z-index: 100;
width:142px;
overflow:hidden;
margin-top:3px;
margin-left:-40px;


}
.serviceMenu a{color:#FFF; text-decoration:none}
.serviceMenu a:hover{color:#F00; text-decoration:none}

.serviceTab{
	width:160px; height:25px; background-color:#5fc100; margin-bottom:1px; padding-top:10px; padding-left:10px; font-size:11px; 
}
.serviceTab a{
	text-decoration:none; color:#FFF;
}

.serviceTab a:hover{
	text-decoration:none; color:#000;
}